.header-container {
  margin: 1rem;
}

.header-item {
  text-decoration: none;
  background-color: #666666;
  padding: 8px 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
}