.todos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.add-new-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  margin: 2rem;
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  cursor: pointer;
}